[{config, [
    #{files => ["src/*.erl"],
      ruleset => erl_files,
      rules => [
          {elvis_text_style, max_line_length, #{limit => 100, skip_comments => whole_line}},
          {elvis_style, no_deep_nesting, #{level => 5}},
          {elvis_style, no_god_modules, #{limit => 55}},
          {elvis_style, export_used_types, disable},
          {elvis_style, dont_repeat_yourself, #{min_complexity => 25}}
      ]},
    #{files => ["test/*.erl"],
      ruleset => erl_files,
      rules => [
          {elvis_text_style, max_line_length, #{limit => 120, skip_comments => whole_line}},
          {elvis_style, no_deep_nesting, #{level => 5}},
          {elvis_style, no_god_modules, disable},
          {elvis_style, no_block_expressions, disable},
          {elvis_style, no_receive_without_timeout, disable},
          {elvis_style, dont_repeat_yourself, disable}
      ]},
    #{files => ["rebar.config"],
      ruleset => rebar_config}
]}].
