[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src", "test","src/*"],
        filter => "*.erl",
        rules => [{elvis_style, line_length, #{limit => 100}},
                  {elvis_style, no_tabs},
                  {elvis_style, no_trailing_whitespace},
                  {elvis_style, macro_names},
                  {elvis_style, macro_module_names},
                  {elvis_style, nesting_level, #{level => 4}},
                  {elvis_style, god_modules, #{limit => 40}},
                  {elvis_style, invalid_dynamic_call},
                  {elvis_style, used_ignored_variable},
                  {elvis_style, no_behavior_info},
                  {
                    elvis_style,
                    module_naming_convention,
                    #{regex => "^iso8601[_a-z]*$", ignore => []}
                  },
                  {elvis_style, state_record_and_type},
                  {elvis_style, no_spec_with_records},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
                 ]
       },
      #{dirs => ["."],
        filter => "Makefile",
        rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                  {elvis_project, protocol_for_deps_erlang_mk, #{regex => "https://.*"}}]
       },
      #{dirs => ["."],
        filter => "elvis.config",
        rules => [{elvis_project, old_configuration_format}]
       }
     ]
    }
   ]
 }
].
