{erl_opts, []}.

{xref_checks, [
    undefined_function_calls, undefined_functions, %locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper", {tag, "v1.3"}}}
        ]},
        {plugins, [
            {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper", {tag, "0.12.0"}}}
        ]},
        {eunit_opts, [verbose]},
        {erl_opts, [
            {src_dirs, ["src", "test"]}
        ]}
    ]}
]}.

{alias, [
    {test, [
        compile,
        eunit
    ]},
    {coverage, [
        {proper, "-c"},
        {cover, "-v --min_coverage=0"}
    ]},
    {check, [
        compile,
        xref,
        dialyzer,
        eunit,
        coverage
    ]}
]}.