name: ci

on:
  push:
    branches: [main, 'release/**', 'task/**', 'feature/**', 'epic/**']
    tags: ['**']
  pull_request:
    branches: [main, 'release/**', 'task/**', 'feature/**', 'epic/**']

jobs:

  build:
    name: Build on OTP ${{ matrix.otp_version }} / ${{ matrix.os }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        otp_version: [19, 20, 21, 22, 23, 24]
        os: [ubuntu-latest]

    container:
      image: erlang:${{ matrix.otp_version }}

    steps:
    - uses: actions/checkout@v2
    - name: Download Recent Rebar
      run: wget https://s3.amazonaws.com/rebar3/rebar3 && chmod 755 ./rebar3
    - name: Update Path
      run: echo "./" >> $GITHUB_PATH
    - name: Check ./rebar3 Version
      run: ./rebar3 --version
    - name: Compile
      run: ./rebar3 compile
    - name: Xref Checks
      run: ./rebar3 xref
    - name: Dialyzer
      run: ./rebar3 dialyzer
    - name: Run Tests
      run: ./rebar3 eunit -v
    - name: Test Coverage
      run: r./ebar3 as test do proper -c, cover -v --min_coverage=0
